<a href="https://colab.research.google.com/github/noaihere/learn-python/blob/master/short_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import re

**Dataframe creation**

In [6]:
df = pd.DataFrame(columns=['a','b','c','1-a1','1-b1'], data = [[10, 20, 32,44,55]])
df

    a   b   c  1-a1  1-b1
0  10  20  32    44    55

**Column names**

Rename column name by name

In [8]:
df.rename(columns = {"a" : "apple"})

   apple   b   c  1-a1  1-b1
0     10  20  32    44    55

Rename column name by position/index

In [9]:
df.columns.values[0] = "apple"
df

   apple   b   c  1-a1  1-b1
0     10  20  32    44    55

Rename column name by using lambda function

In [35]:
df = pd.DataFrame(columns=['a','b','c','1-a1','1-b1'], data = [[10, 20, 32,44,55]])
df.rename(columns = lambda x : x.replace("-", "("), inplace=True)
print(df)
df.rename(columns = lambda x: re.sub("\d\(\w\d", "special",x), inplace=True)
df

    a   b   c  1(a1  1(b1
0  10  20  32    44    55

    a   b   c  special  special
0  10  20  32       44       55

Rename nan column names by fillna

In [21]:
df = pd.DataFrame(columns=['a', np.nan ,'c','1-a1','1-b1'], data = [[10, 20, 32,44,55]])
print(df,"\n")
print(df.columns.isnull(),"\n")

df.columns = df.columns.fillna("None")
df

    a  NaN   c  1-a1  1-b1
0  10   20  32    44    55

[False  True False False False]

    a  None   c  1-a1  1-b1
0  10    20  32    44    55

Subset dataframe by column names

In [12]:
df = df[[col for col in df.columns if re.search(('-a|-b'), col)]]
df

   1-a1  1-b1
0    44    55

Remove duplicated column names

In [27]:
df = pd.DataFrame(columns=['a', 'a' ,'c','1-a1','1-b1'], data = [[10, 20, 32,44,55]])
print(df.columns.duplicated())

df = df.loc[:, ~df.columns.duplicated()]
df

[False  True False False False]

    a   c  1-a1  1-b1
0  10  32    44    55